:root {
  /* Font Family */
  --font: "Inter", system-ui, sans-serif;

  /* Colors */
  --grey-700: hsl(0deg, 0%, 20%);
  --grey-800: hsl(0deg, 0%, 12%);
  --grey-900: hsl(0deg, 0%, 8%);

  --green: hsl(75deg, 94%, 57%);

  --white: hsl(0deg, 0%, 100%);

  /* Spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;

  /* Screen Size Breakpoints */
  /* desktop: 90rem/1440px */
  /* tablet: 68rem/1088px */
  /* mobile: 34rem/544px */

  /* Theme Dependent Variables */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  color: var(--white);
  background-color: var(--grey-900);
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
