/*
We decided to create a components/_defaults.css file for this project, as we'll be using some semantic elements and want to modify their styles.

For example, we'll use the strong, address, blockquote, etc. elements, and we'd like to customize their styles.

Other projects may not require this file. Also, you could easily merge the _defaults.css code into _base.css. As a matter of preference, we thought it would be nicer to separate the two.

We'll also use this file to customize the color of anchors and paragraphs.

If you're following locally, import this file directly under the _base.css file:
*/

/* a {
  color: var(--anchor-color);
  opacity: 0.85;
  transition: opacity 200ms;
}

a:hover {
  opacity: 1;
}

p {
  color: var(--gray-light);
} */
